{{ $featured1 := .Resources.GetMatch "*.jpg" }}
{{ $name := $featured1.Name }}
{{ $name = replace $name "-" " " }}
{{ $name = replace $name "_" " " }}
{{ $name = replace $name ".jpg" "" }}
{{ $name = replace $name ".jpeg" "" }}
{{ $name = replace $name ".png" "" }}
{{ $name = title $name }}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="css/justifiedGallery.min.css" />
  <script src="js/jquery.justifiedGallery.min.js"></script>

  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $name }}</title>
</head>
{{- partial "header.html" . -}}

<div class="all-content">

    <h1 class="post-title">{{ $name }}</h1>
    <p class="author">Captured on
        {{ .Date.Format "January 02, 2006" }}</p>
    {{ .Content }}
    <div class="gallery-page" id="mygallery">
        {{- range $img := .Resources.ByType "image" }}
            {{ with $img }}
                <div class="gallery-item">
                <a href="{{ .RelPermalink }}" class="image-link">
                    <img src="{{ $img.RelPermalink }}" loading="lazy" class="gallery-img-thumb">
                </a>
            </div>
            {{ end }}
        {{ end }}
    </div>
    <p class="author">
        This album is tagged with:
        {{ range (.GetTerms "tags") }}
            <span>
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>,</span>
        {{ end }}
    </p>
</div>
{{- partial "footer.html" . -}}</body></html>
