<!-- layouts/_default/list.html -->
<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body class="bg-gray-100 text-gray-800">
    {{- partial "header.html" . -}}
    <div class="container mx-auto px-4 py-8">
        <!-- The main content is now just the gallery itself -->
        <main id="mygallery">
            {{ range .Pages }}
                {{ $image := .Resources.GetMatch "{*.jpg,*.jpeg,*.png,*.gif}" }}
                {{ if $image }}
                    {{ $processed := $image.Resize "800x" }}
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ $processed.RelPermalink }}" alt="{{ .Title }}" />
                    </a>
                {{ end }}
            {{ end }}
        </main>

     {{- partial "footer.html" . -}}
    </div>

    <!-- jQuery and Justified Gallery JS -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.8.1/js/jquery.justifiedGallery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#mygallery").justifiedGallery({
                rowHeight: 240,
                lastRow: 'justify',
                margins: 8
            });
        });
    </script>
</body>
</html>
