{{ define "main" }}
<div id="photo-gallery" class="justified-gallery">
    {{/* Range through only the regular content pages (your photos) */}}
    {{ range where .Site.RegularPages "Kind" "page" }}
        {{/* Find the first image resource in the page bundle */}}
        {{ $image := .Resources.GetMatch "*.*" }}
        {{ if $image }}
            {{/* Create a thumbnail and get image info */}}
            {{ $thumbnail := $image.Fill "400x300" }}
            {{ $fullImage := $image.RelPermalink }}
            {{ $dominantColor := index ($image.Fill "1x1 q1").Colors 0 }}

            <a href="{{ $fullImage }}"
               class="gallery-link"
               data-id="{{ .File.UniqueID }}"
               data-src="{{ $fullImage }}"
               data-thumbnail="{{ $thumbnail.RelPermalink }}"
               data-title="{{ .Title }}"
               data-description="{{ .Content | plainify }}"
               data-author="{{ .Params.author }}"
               data-author-link="{{ .Params.author_link }}"
               data-tags="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}"
               data-color="{{ $dominantColor }}">
                <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}">
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}
