{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<div id="mygallery" >
{{- range.RegularPages }}
                    
    {{ $featured1 := .Resources.GetMatch "*.jpg" }}
    {{ $featured := $featured1.Resize "800x" }}
    {{ $name := $featured1.Name }}
    {{ $name = replace $name "-" " " }}
    {{ $name = replace $name "_" " " }}
    {{ $name = replace $name ".jpg" "" }}
    {{ $name = replace $name ".jpeg" "" }}
    {{ $name = replace $name ".png" "" }}
    {{ $name = title $name }}
<a href="{{ .RelPermalink }}">
    <img src="{{ $featured.RelPermalink }}" alt="{{ $name }}" width="{{ $featured.Width }}" height="{{ $featured.Height }}">
</a>

{{ end }}
</div>
    <script>
      $("#mygallery").justifiedGallery(
        {
            rowHeight : 500,
            margins : 3,
            captions : true
        }
      );
    </script>

  {{- partial "footer.html" . -}}